
/**************/
/* Algemeen */
/**************/
@font-face {
    font-family: "archia-bold";
    src: url(../fonts/archia-bold.otf);
}

@font-face {
    font-family: "archia-regular";
    src: url(../fonts/archia-regular.otf);
}

@font-face {
    font-family: "chaney-extended";
    src: url(../fonts/chaney-extended.otf);
}


@font-face {
    font-family: "chaney-wide";
    src: url(../fonts/chaney-wide.otf);
}

@font-face {
    font-family: "fa-brands";
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: "parking-regular";
    src: url(../fonts/parking-regular.otf);
}
:root {
	--color-text-black:black;
	--color-text-white: white;
	--background-image-main: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
	--background-image-main2:  #ffeaf5 !important;
	--color-background-pink:#ff2eb0;
	--color-background-purple:#8004e1;
	/* --prefers-color-scheme: light dark (white black) */
	/* --whitespace:clamp(0, 0em, 37em); */
	color-scheme: light dark;
	
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}












/**************/
/* section 1*/
/**************/

/* h1 */
section h1 {
    font-family: "chaney-wide";
}

section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color:var(--color-background-purple);
    max-width: max-content;
    font-size: medium;
    top: 11rem;
    left: 5rem;
}

section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color:var(--color-text-black);
    font-weight: lighter;
    font-size: larger;
    top: 12rem;
    font-family: "parking-regular";
    left: 5rem;
}
main section:nth-of-type(1) img {
    width: 90%;
    position: absolute;
    top: 14rem;
    left: 1rem;
}

main section:nth-of-type(1) p {
    margin-top: 35%;
    color:var(--color-text-black);
}

section video {
    width: 100%;
    height: auto;
}
main section:nth-of-type(1) {
    background-image: var(--background-image-main);
}

main section:nth-of-type(1) div button img{
    width: 10%;
    position: absolute;
    top: 26%;
    background-color:var(--color-background-pink);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: -2%;
    border-radius: 12%;
    left: 88%;
    opacity: 0.8;
}
main section:nth-of-type(1) p {
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 50%;
    left: 25%;
    right: 20%;
    line-height: 160%;
    font-size: large;
}

main section:nth-of-type(1) {
    position: relative;
}
main section h2 strong:nth-of-type(1) {
    background-color: var(--color-background-purple);
    text-align: center;
}
main section>button:last-of-type {
    position: fixed;
    bottom: 1rem;
    right: 24em;
}









/**************/
/* section 2*/
/**************/
main section:nth-of-type(2) a {
    background-color: var(--color-text-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-black);
    text-align: center;
    margin-left: 1em;
}
main section:nth-of-type(2) ul {
    margin-left: 8%;
    gap: 5%;
}

main section:nth-of-type(2) h3 {
    font-family: "parking-regular";
    position: relative;
    top: 24.5rem;
    font-size: 1.7em;
    color:var(--color-text-black);
    width: 80%;
    text-align: center;
    font-weight: 300;
}

main section:nth-of-type(2) h3:hover {
    cursor: pointer;
}

main section h2 strong:nth-of-type(2) {
    background-color: var(--color-text-black);
    font-size: xx-large;
    text-align: center;
}
main section:nth-of-type(2) {
    background-image: var(--background-image-main);
    height: 120em;
}





















/**************/
/* section 3*/
/**************/
main section:nth-of-type(3)>a:last-of-type {
    background-color:var(--color-text-black);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--color-text-white);
    margin-top: 3em;
    text-decoration: none;
    font-family: "chaney-wide";
}

main section:nth-of-type(3) a {
    text-decoration: underline;
    font-family: "archia-regular";
}
main section:nth-of-type(3) {
    height: 30em;
    width: 80%;
    margin: auto;
}

main section:nth-of-type(3) h2 {
    font-family: "parking-regular";
    font-weight: 300;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 250%;
}

main section:nth-of-type(3) p {
    font-family: "archia-regular";
    margin-bottom: 15%;
    text-align: start;
    position: relative;
    line-height: 160%;
    font-size: large;
}
main section:nth-of-type(3) img {
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    /* flex-grow: 1;
    flex-direction: column;
    scroll-snap-align: center; */
}














/**************/
/* section 4*/
/**************/

main section:nth-of-type(4) {
    background-color:var(--background-image-main2);
    /* display: flex;
    flex-direction: column-reverse; */
    padding-top: 10%;

}

main section:nth-of-type(4) ul {
    padding-left: 0%;
}

main section:nth-of-type(4) li {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}

main section:nth-of-type(4) p {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}


























/**************/
/* section 5*/
/**************/
main section:nth-of-type(5) a {
    display: block;
    margin: auto;
    gap: 5%;
}


main section:nth-of-type(5) a {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

/* section:nth-of-type(1) img:last-child{
    position: fixed;
bottom: 1rem;
} */

main section:nth-of-type(5) {
    /* display:flex;
    justify-content: center; */
    text-align: center;
    height: 110%;
}

main section:nth-of-type(5) p {
    width: 50%;
    margin: auto;
    color: var(--color-text-black);
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 65%;
    line-height: 160%;
    font-size: large;
    padding-bottom: 10%;
}

main section:nth-of-type(5) h2 strong {
    display: flex;
    flex-direction: column;
    width: fit-content;
}


main section:nth-of-type(5) h2 {
    flex-direction: column;
padding-top: 10%;
font-family: "parking-regular";
}
section:nth-of-type(5) ul{
    padding-top: 15%;
}


main section:nth-of-type(5)img {
    display: flex;
}

/* div section>button svg:first-of-type {
    will-change: 20em;
} */

main section:nth-of-type(5) a:first-of-type {
    background-color: var(--color-text-black);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-white);
    text-align: center;
    margin-left: 1em;
}

main section:nth-of-type(5) a:last-of-type {
    background-color: var(--color-text-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-black);
    text-align: center;
    margin-left: 1em;
}
main section:nth-of-type(5) {
    background-image: var(--background-image-main);
}


main section:nth-of-type(5) img {
    width: 20em;
}














a:hover{
    translate: 0 -.5em;
}




/* section:nth-of-type(1) p {
gap: 4%;
} */

/* section{
    gap: 10%;
} */
main ul li img {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}

main ul li img:hover {
    cursor: pointer;
}



/* section:nth-of-type(1) button svg{
    position: relative;
    position: absolute;
    left: -15%;
} */

/* section h2 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
font-weight: lighter;
    font-size: larger;
    top: 12rem;
    font-family: "parking-regular";
  left:5rem;
} */
/* footer */


/* 
section:nth-of-type(3) p {
    font-family: "archia-regular";
}

section:nth-of-type(2) p {
    font-family: "archia-regular";
}

section:nth-of-type(6) p {
    font-family: "archia-regular";
} */

/* @media(max-width:20em){} */
/* section:nth-of-type(1) > button:first-of-type {} */
/* 
section a:nth-of-type(1) {
    background-color: black;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: white;
    text-align: center;
} */

/* section:nth-of-type(2)a {
    background-color: white;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: black;
    text-align: center;
} */

/* section:nth-of-type(3) a{
    text-decoration: underline;
} */



/* section 4 */




/* toevoegen dat de video uit gaat als iemand weinig motion wil in hun instellingn */