/**************/
/* Algemeen */
/**************/

:root {
	/* startje */
	color-scheme: light dark;
	--color-text-black:black;
	--color-text-white: white;
	/* --color-background:  */
	--button-background: light-dark(black, white);
	--background-color-button-footer: black;
	--button-color: light-dark(white, black);
	--background-color-black: black;
	--background-color-main: light-dark(#ffeaf5, #FF2EC5);
	--background-image-main: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
	--dark-backgr:linear-gradient(180deg,#1b2a49 0%,#273c75 25%,#40739e 75%,#192a56 100%) !important;
	--background-image-main2:  #ffeaf5 !important;
	--color-background-pink:#FF4EB5;
	--color-form-button: light-dark(black, white);
	--color-form-button-border: light-dark(black black);
	--color-background-purple:#8004e1;
	--prefers-color-scheme: light dark (white black);
	/* --whitespace:clamp(0, 0em, 37em); */
	
	
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

body {
	overflow-x: hidden;
}
a {
    font-family: "chaney-wide";
}

/* lettertypes */
@font-face {
	font-family: "archia-bold";
	src: url(../fonts/archia-bold.otf);
}

@font-face {
	font-family: "archia-regular";
	src: url(../fonts/archia-regular.otf);
}
@font-face {
	font-family: "chaney-extended";
	src: url(../fonts/chaney-extended.otf);
}

@font-face {
	font-family: "chaney-wide";
	src: url(../fonts/chaney-wide.otf);
}

@font-face {
	font-family: "fa-brands";
	src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
	font-family: "parking-regular";
	src: url(../fonts/parking-regular.otf);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

/* @media{

} */
html {
	scroll-behavior: smooth;
}

/**************/
/* Header*/
/**************/


header {
	background-color:var(--color-background-pink);
	height: 5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;
}
header nav button{
    text-align: center;
}


header img {
	width: 9.38em;
	height: 3.4em;
	padding-top: 1em;
	padding-top: 1em;
	z-index: 1;
}

header nav button {
	z-index:1;
	position:relative;
	display: flex;
	flex-direction: column; 
	align-items: center;
}
header span{
	display: block;
	text-align: center;
	font-family: "chaney-wide";

}
header nav {
	order: 10;
}
/* 
button svg{
	width: 50%;
	z-index:1;
}   */

button{
    background: none;
    border: none;
	padding: 0 0 0 0;
	z-index:1;
}
header a:nth-of-type(2){
	color:var(--color-text-black);
}

header li a{
	font-family: "parking-regular";
}
header ul {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	translate: 100% 0;
	transition: 0.5s;
	gap: 1em;
	color: var(--color-text-black);
	padding-top: 30%;
	background-color:var(--color-background-pink);

}

nav.menuOpen ul {
	translate: 0 0;

}

nav li {
	flex-basis: 0;
	flex-grow: 0;
}

/* nav button{
	display: none;
} */

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
/* a:hover{
background-color:var(--prefers-color-scheme);
cursor: pointer;
transform: scale(0.1px);
}
a:active{

}
a:focus-visible{

}
button */
/* header a{
	background-color: white;
	border-radius: 20em;	
} */

/* header nav:last-child a, nav button{
	flex-direction: row-reverse;
} */

header > a:last-of-type{
background-color: var(--color-text-white);
border-radius: 20em;
padding: 0.7em 0.7em 0.7em 0.7em;
margin-top: 0%;
font-size: small;
text-align: center;
right: 4.5rem;
position: absolute;
}
header nav a{
	color:var(--color-text-black);
	font-size: 250%;
}


/**************/
/* Main */
/**************/


main section:nth-of-type(1){
	position: relative;
}
main section:nth-of-type(1)img{
position: absolute;
top:7rem;
}
main blockquote {
    font-family: "archia-regular";
    display: flex;
	justify-content: center;
    text-align: center;
    color:var(--color-text-black);
 /* margin-left: 12%;
 margin-right: 12%; */
 font-weight: 300;
 padding-bottom: 1em;
 width: 70%;
 margin: auto;
 padding-bottom: 10%;

}

main section:nth-of-type(4) h3 {
    font-family: "archia-bold";
    display: flex;
    justify-content: center;
    color: var(--color-text-black);
    margin-bottom: 10%;
}


/* nav.menuOpen button svg {
	content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
} */



/****************/
/* footer */
/****************/
footer  {
	background-color:var(--color-background-pink);
	display: flex;
	flex-direction: column;
}
footer > *{
	width: 80%;
	margin: auto;
}
/* footer section:nth-of-type(3){
	width: 80%;
	margin: auto;
} */
footer ul, footer h3, footer nav{
	margin: 0%;
	padding: 0%;
}
footer img {
	padding-top: 15%;
	width: 80%;
	margin: auto;
	display: block;
}
/* footer section:nth-of-type(3) ul{
	width: 0;
} */
footer section:nth-of-type(1) p{
	font-family: "chaney-wide";
	color: var(--color-text-black);
	text-align: start;
	margin: 0%;

}
footer li, footer a{
	margin: 0%;
	padding:0%;
}
footer section:nth-of-type(4) ul{
	padding-bottom: 10%;
	list-style-type: none;
}
footer section:nth-of-type(2) ul{
	display: flex;
	gap:4%;
	padding-bottom: 1em;
}
footer h3, footer h2{
	font-family: "parking-regular";
	color:var(--color-text-black);
	font-size: xx-large;
	font-weight: lighter;
	margin-bottom: 8%;
	margin-top: 8%;
	margin: 0%;
	padding-bottom: 10%;
}
 footer section:nth-of-type(2) nav {
	border-bottom: solid var(--color-text-black);
	border-width: 0.1em;
 }
footer input{
	margin: 0%;
	appearance:none;
	font:inherit;
	width:60%;
	background-color: var(--color-text-white);
    border-radius: 1.375em 0 0 1.375em;
    padding: 0.6em 1em 0.6em 1em;
	border: solid;
	border-color: var(--color-text-black);
	font:inherit;
	appearance:none;
	border-width: medium;
}
footer input::placeholder {
	font-family: "archia-regular";
	width: 100%;
	font-size: medium;
}
footer form{
	/* margin-bottom: 15%;
	margin-top: 10%; */
	display: flex;
}
footer h3:hover{
	cursor: pointer;
}
footer section:nth-of-type(1) button{
	border-radius: 0 2em 2em 0;
	padding: 1.1em 1em 1em 1em;
	border-width: medium;
	background-color: var(--background-color-button-footer);
	color: var(--color-text-white);
	position: relative;
    right: 2%;
	width: 40%;
}
footer section:nth-of-type(1) p,footer section:nth-of-type(1) form{
	/* gap:10%; */
	padding-bottom: 10%;
	font-size: larger;
}
footer a{
	font-family: "archia-regular";
	/* width: 80%;
	margin: auto; */
	display: flex;
	color: var(--color-text-black);
}
footer section:nth-of-type(4) p{
	color: #666666;
	font-family: "archia-regular";
	margin-bottom: 10%;
}
footer section:nth-of-type(4) ul:nth-of-type(1) a:first-of-type{
	text-decoration: underline;
	/* padding-bottom: 10%; */

}
/* footer address{
	display: flex;
	flex-direction:column;
padding-bottom: 2em;
} */
/* footer section:nth-of-type(2), footer address{
	gap: 20%;
} */
/* footer section a:nth-of-type(1){
	background-color: black;
	border-radius: 100%;
	width: 3em;
	height: 3em;
	display: inline-flex;
} */
footer section:nth-of-type(2) a{
	background-color:var(--color-text-black);
	border-radius: 100%;
	width: 3em;
	height: 3em;
	display: inline-flex;
}
/* footer section:nth-of-type(3) svg{
	margin-top: 18%;
    margin-left: 19%;
} */
footer section:nth-of-type(2) ul{
	display: flex;
}

footer section:nth-of-type(4){
	margin-top: 10%;
}
footer h4{
	font-family: "archia-bold";
	color: var(--color-text-black);
}
footer section svg:nth-of-type(1) {
	margin-left:19%;
	margin-top: 20%;
}
address{
	font-style: normal;
	padding-top: 1em;
}
/* 
footer input {
    width: 60%;
    border:var(--color-text-black);
}
 */

/* @keyframes section:thh {
	transelate: 180deg;
	animation-name:

} */

/* vraag over gap toepassen */
/* hoogte van een section */