@font-face {
    font-family: "archia-bold";
    src: url(../fonts/archia-bold.otf);
}

@font-face {
    font-family: "archia-regular";
    src: url(../fonts/archia-regular.otf);
}

@font-face {
    font-family: "chaney-extended";
    src: url(../fonts/chaney-extended.otf);
}


@font-face {
    font-family: "chaney-wide";
    src: url(../fonts/chaney-wide.otf);
}

@font-face {
    font-family: "fa-brands";
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: "parking-regular";
    src: url(../fonts/parking-regular.otf);
}

/* section 1 */
section:nth-of-type(1) img {
    width: 90%;
    position: absolute;
    top:14rem;
    left: 1rem;
}
section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: #8004e1;
    max-width: max-content;
    font-size: medium;
    top: 11rem;
    left:5rem;
}
section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
font-weight: lighter;
    font-size: larger;
    top: 12rem;
    font-family: "parking-regular";
  left:5rem;
}
section:nth-of-type(1) p{
    margin-top: 30%;
    margin-bottom: 20%;
}

section video {
    width: 100%;
    height: auto;
}
header nav button{
    text-align: center;
}

/* section:nth-of-type(1) p {
gap: 4%;
} */

/* section{
    gap: 10%;
} */
ul li img {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

section:nth-of-type(1) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
}

section:nth-of-type(2) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
}

section:nth-of-type(4) {
    background-color: #ffeaf5 !important;
}

section:nth-of-type(5) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
}



section:nth-of-type(5) img {
    width: 20em;
}

section:nth-of-type(3) img {
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    /* flex-grow: 1;
    flex-direction: column;
    scroll-snap-align: center; */
}

/* tweede section */

section:nth-of-type(2) a {
    background-color: white;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
}

section:nth-of-type(3) a {
    background-color: black;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
}

section a:nth-of-type(1) {
    background-color: black;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: white;
    text-align: center;
}

section a:nth-of-type(2) {
    background-color: white;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: black;
    text-align: center;
}

section:nth-of-type(5) a {
    display: block;
    margin: auto;
    gap: 5%;
}

/* derde section */
section:nth-of-type(3) h2 {
    font-family: "parking-regular";
}

section:nth-of-type(5) a {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}




section h1 {
    font-family: "chaney-wide";
}

section:nth-of-type(2) ul {
    display: grid;
    justify-content: center;
    margin-left: 12%;
    gap: 8%;
}

section:nth-of-type(2) h3 {
    font-family: "parking-regular";
}

p {
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 50%;
    left: 25%;
    right: 20%;
    line-height: 160%;
    font-size: large;
}

/* section 4 */

blockquote {
    font-family: "archia-regular";
    display: flex;
    text-align: center;
    color: black;
 margin-left: 12%;
 margin-right: 12%;

}

section:nth-of-type(4) h3 {
    font-family: "archia-bold";
    display: flex;
    justify-content: center;
    color: black;
}

a {
    font-family: "chaney-wide";
}

section:nth-of-type(4) ul {
    display: flex;
    padding-left: 0%;
    justify-content: center;
}
section:nth-of-type(5) h2 {
    font-family: "parking-regular";
}

section:nth-of-type(1) {
    position: relative;
}
section:nth-of-type(1) svg {
    position: fixed;
    bottom: 1rem;
    right: 18.8em;  
}
/* section:nth-of-type(1) img:last-child{
    position: fixed;
bottom: 1rem;
} */


/* section 5 */
/* section:nth-of-type(5) a{

} */
/* footer */
input {
    /* border-radius: 50%; */
    width: 60%;
    margin-left: 10%;
    border: black;
}

/* 
section:nth-of-type(3) p {
    font-family: "archia-regular";
}

section:nth-of-type(2) p {
    font-family: "archia-regular";
}

section:nth-of-type(6) p {
    font-family: "archia-regular";
} */

/* @media(max-width:20em){} */