
/**************/
/* section 1*/
/**************/

main section:nth-of-type(1) img{
    width: 100%;
}
/* h1 */
section h1 {
    font-family: "chaney-wide";
}
section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: black;
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    top: 11rem;
    left:5.5rem;
    font-family: "parking-regular";
}
section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    top: 14rem;
    left:7.4rem;
    font-family: "parking-regular";
}
section h1 strong:nth-of-type(3) {
    position: absolute;
    background-color:#8004e1;
font-weight: lighter;
    font-size: medium;
    top: 17.2rem;
  left:4rem;
}
h1 strong{
    display: flex;
    flex-direction: column;
}
/* achtergrond */
main section:nth-of-type(1) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;

    height: 100dvh;
}
main section:nth-of-type(1) p{
    margin-top: 15%;
    color: var(--color-text-black);
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
    padding-bottom: 10%;
}
p {
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 70%;
    font-size: large;
}
main section:nth-of-type(1) > img:last-of-type{
    width: 15%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 6em;
 margin-bottom: 3em;
}

main section:nth-of-type(1) a {
    background-color: var(--color-text-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-black);
    text-align: center;
    display: inline-block;
    order: 3;
    margin: auto;
    display: block;
    width: max-content;
    transition: color .3s 
ease 0s, background-color .3s 
ease 0s;
margin-bottom: 10%;
}
main section:nth-of-type(1) a:hover{
    translate: 0 .5em;
    background-color: var(--color-background-pink);
}

/* grootte van de verschillende foto's */
section:nth-of-type(2) > img{
    width: 10em;
}
section:nth-of-type(2)  > img:nth-of-type(2){
    width: 4em;
}
section:nth-of-type(2) > img:nth-of-type(3){
    width: 12em;

}
section:nth-of-type(2) > img:nth-of-type(4){
    width: 12em;

}
section:nth-of-type(2) > img:nth-of-type(5){
    width: 6em;

}

/* section 2 */
main section:nth-of-type(2) ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(2) {
  background-color: var(--background-color-main);
}

main section:nth-of-type(2) li{
    gap: 2em;
  }

main section:nth-of-type(4) {
    background-color: #ffeaf5 !important;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10%;
}

main section:nth-of-type(2) h2{
    color: #000000;
    font-family:"archia-regular" ;
    font-weight: 300;
    padding-bottom: 1em;
    font-size: 103%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
}
main main section:nth-of-type(5){
    background-color: var(--background-color-main);
}


/* section 3 */
main section:nth-of-type(3) img{
    width: 50%;
}
main section:nth-of-type(3) ul{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    gap: 1em;
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-pink) transparent;
}







/* 
section 4 */
main section:nth-of-type(4) li{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}

main section:nth-of-type(4) p{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    width: 50%;
    margin: auto;
}

main section:nth-of-type(4) ul{
    padding: 0%;
}









/* section 5 */
main section:nth-of-type(5){
    background-image: var(--background-image-main);
}
main section:nth-of-type(5) h2 strong:nth-of-type(1){
    position: absolute;
    background-color: #8004e1;
    font-weight: lighter;
    font-size: medium;
    top: 145rem;
    left: 4rem;
    font-family: "chaney-wide";
}
main section:nth-of-type(5) h2 strong:nth-of-type(2){
    position: absolute;
    background-color: black;
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    /* top: 11rem; */
    left: 5rem;
    font-family: "parking-regular";
}
main section:nth-of-type(5) p{
    width: 65%;
    padding-top:20%;
    margin: auto;
}
main ol{
    display: flex;
    flex-direction: column;
}



main input{
    background-color: var(--color-text-white);
}
main li p{
    margin-left:0;
}
main section:nth-of-type(5) form button{
    background-color: var(--color-text-black);
    margin-top: 0%;
    color: var(--color-text-white);
    text-align: center;
    width: max-content;
    font-family: "archia-regular";
    padding: 1em 2em 1em 2em;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
}







