@font-face {
    font-family: "archia-bold";
    src: url(../fonts/archia-bold.otf);
}

@font-face {
    font-family: "archia-regular";
    src: url(../fonts/archia-regular.otf);
}

@font-face {
    font-family: "chaney-extended";
    src: url(../fonts/chaney-extended.otf);
}


@font-face {
    font-family: "chaney-wide";
    src: url(../fonts/chaney-wide.otf);
}

@font-face {
    font-family: "fa-brands";
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: "parking-regular";
    src: url(../fonts/parking-regular.otf);
}
section:nth-of-type(1) img{
    width: 100%;
}
/* h1 */
section h1 {
    font-family: "chaney-wide";
}
section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: black;
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    top: 14rem;
    left:1rem;
    font-family: "parking-regular";
}
section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color:#8004e1;
font-weight: lighter;
    font-size: medium;
    top: 17.2rem;
  left:4rem;
}
section:nth-of-type(1) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
    height: 40em;
}
section:nth-of-type(1) p{
    margin-top: 25%;
    color: #000000;
}