/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}
 



body {
    background-color: rgb(0, 0, 0);
}
/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

