
/**************/
/* section 1*/
/**************/

main section:nth-of-type(1){
    background-image: var(--background-img-main);
    display: grid;
    grid-template-rows: 1fr max-content max-content 1em max-content;
    grid-template-columns:calc(40% - 4em) 1fr;
    position: relative;
}
/* h1 styling*/
section h1 {
    font-family: "chaney-wide";
    z-index: 1;
    width: 100%;
    grid-row:1/-1;
    grid-column:2/-1;
    position: relative;
    display: grid;
    white-space: nowrap;
}

section h1 strong:nth-of-type(1) {
    background-color: var(--color-background-purple);
    color: var(--color-white);
      max-width: fit-content;
    max-height: fit-content;
    font-size: medium;
    /* display: flex; */
    display: inline-block;
    grid-row:2/3;
    /* grid-row-end:3; */

    grid-column:1/2;
    /* grid-column-end:3; */

    /* justify-self: start; */
}


section h1 strong:nth-of-type(2) {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: "parking-regular";
    max-width: fit-content;
    max-height: fit-content;
    font-weight: lighter;
    font-size: larger;
    display: inline-block;
    /* display: flex; */
    grid-row:3/4;


    grid-column:1/2;
    /* justify-self: start; */
}

main section:nth-of-type(1) img {
    width: 90%;
    /* translate: ; */
    grid-row-start:-1;
    grid-row-end:2;

    grid-column-start:1;
    grid-column-end:3;
    justify-self: center;
}

 /* bij de video hoort er ook een @media (prefers-reduced-motion: no-preference), zodat de video uit gaat als iemand reduce motion aan heeft  */
/* video gecompressed om het op github te uploaden */
/* (https://www.freeconvert.com/video-compressor) */
section:nth-of-type(1) div video {
    width: 100dvw;
    height: auto;
    position: relative;

    /* video achter de tekst  */
    /* grid-row:1/2;
    grid-column:1/2; */
    /* z-index: 1; */
}
section:nth-of-type(1) div{
    /* display: grid; */
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
}


main section:nth-of-type(1) div button {
    appearance: none;
    width: 45%;
    position: absolute;
    left: 25em;
    top: 1em;
    background-color: var(--color-background-pink-purple);
    padding:3% 0 1%;
    border-radius: 12%;
    opacity: 0.8;
}

main section:nth-of-type(1) p {
    font-family: "archia-regular";
    text-align: center;
    width: 65%;
    grid-column: 2/3;
    line-height: 160%;
    font-size: large;
    color: var(--color-p);
    padding: 35% 0 15%;
}

/* 
main section:nth-of-type(1) {
    background-image: var(--background-img-main);
    display: grid;
    grid-template-rows: 1fr max-content max-content 1em max-content;
    grid-template-columns: calc(50% -4em) 1fr;
} */


main section h2 strong:nth-of-type(1) {
    background-color: var(--color-background-purple);
    color: var(--color-white);
    text-align: center;
}


main section:nth-of-type(1)>button:last-of-type ul:nth-of-type(1){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    translate: 100% 0;
    transition: 0.5s;
    gap: 1em;
    color: var(--color-text-black);
    padding: 30% 0 0;
    background-color: var(--color-background-pink-purple);
    appearance: none;
}











/**************/
/* section 2*/
/**************/
main section:nth-of-type(2) li > a:last-of-type {
    background-color: var(--color-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--color-text-black);
    text-align: center;
    order:3;
    width: max-content;
    transition: .3s 
    ease 0s, .3s 
    ease 0s;
}

main section:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    gap: 4em;
}
main section:nth-of-type(2) a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(2) li > a:first-of-type {
    font-family: "parking-regular";
    font-size: 1.7em;
    color: var(--color-p);
    width: 80%;
    text-align: center;
    font-weight: 300;
    order:2;
}


/* toegankelijkheid */
main section:nth-of-type(2) h3:hover {
    cursor: pointer;
}
main section:nth-of-type(2) h3:active {
color: var(--color-active);
}
main section:nth-of-type(2) h3:focus-visible{
    outline-color:var(--color-white);
	outline-style:solid;
	outline-width:.15em;
	outline-offset:.2em;
}

/* tekst animatie section 2 */
/* zorgt ervoor dat de gebruiker de motion uit kan zetten */
/* https://www.youtube.com/watch?v=UmzFk68Bwdk */
@media (prefers-reduced-motion: no-preference) {
    main section:nth-of-type(2) > img:last-of-type {
        animation-name: lefttoright;
        animation-timeline:scroll(root);
    }
}
/* animatie voor bewegende tekst bij scrollen */
@keyframes lefttoright{
    to{
        transform: translate(calc(-50% - 1.3rem));
    }
}


main section h2 strong:nth-of-type(2) {
    background-color: var(--color-text-black);
    color: var(--color-white);
    font-size: xx-large;
    text-align: center;
}

main section:nth-of-type(2) {
    background-image: var(--background-img-main);
    display: flex;
	flex-direction: column;
}

main section:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main section:nth-of-type(2) > img{
    overflow-x: hidden;
    position: relative;
    width: 800%;
}

main section:nth-of-type(2) li > img{
    width: 65%;
    order:1;
    transition:.3s 
    ease 0s, .3s 
    ease 0s;
}

main section:nth-of-type(2) ul li img:hover {
    cursor: pointer;
transform:scale(1.1);
}

/* toegankelijkheid */
/* zorgt ervoor dat de gebruiker de motion uit kan zetten */
@media (prefers-reduced-motion: no-preference) {
    main section:nth-of-type(2) ul li img:hover {
        cursor: pointer;
    transform:scale(1.1);
    }  
}

main section:nth-of-type(2) li > a:last-of-type:hover{
    translate: 0 .5em;
}
main section:nth-of-type(2) li > a:last-of-type:active{
    background-color: var(--color-background-pink-purple);
    color: var(--color-white);
}
main section:nth-of-type(2) li > a:last-of-type:focus-visible{
    outline-color: var(--outline-focus-color);
    outline-width: 0.5em;
}


















/**************/
/* section 3*/
/**************/
main section:nth-of-type(3)>a:last-of-type {
    background-color: var(--button-background);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--button-color);
    text-decoration: none;
    font-family: "chaney-wide";
    display: inline-block;
    text-align: center;
}
main section:nth-of-type(3)>a:last-of-type:hover{
    translate: 0 .5em;
    cursor: pointer;
    transition: .3s 
ease 0s, .3s 
ease 0s;
}

main section:nth-of-type(3)>a:last-of-type:active{
    background-color: var(--color-background-pink-purple); 
    color: var(--color-white);
    transition: .3s 
    ease 0s,  .3s 
    ease 0s;
}


main section:nth-of-type(3) p a {
    /* text-decoration: underline; */
    font-family: "archia-regular";
    /* color: var(--color-background-pink); */
}

main section:nth-of-type(3) {
    width: 80%;
    margin: auto;
}

main section:nth-of-type(3) h2 {
    font-family: "parking-regular";
    font-weight: 300;
    padding: 1em 0 1em 0;
    font-size: 250%;
}

main section:nth-of-type(3) p {
    font-family: "archia-regular";
    text-align: start;
    position: relative;
    line-height: 160%;
    font-size: large;
}
main section:nth-of-type(3), main section:nth-of-type(3) p {
    padding: 0 0 10% 0;
}
main section:nth-of-type(3) img {
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
   
}














/**************/
/* section 4*/
/**************/

main section:nth-of-type(4) {
    background-color: var(--background-color-main2);
    padding: 10% 0 0 0;

}


main section:nth-of-type(4) li {
    display: flex;
    flex-direction: column-reverse;
}

main section:nth-of-type(4) p {
    display: flex;
    justify-content: center;
    padding: 0 0 10% 0;
}

























/**************/
/* section 5*/
/**************/
main section:nth-of-type(5) a {
    display: block;
    margin: auto;
    gap: 5%;
}


main section:nth-of-type(5) a {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 20%;
}


main section:nth-of-type(5) {
    text-align: center;
    height: 110%;
}

main section:nth-of-type(5) p {
    width: 50%;
    margin: auto;
    color: var(--color-p);
    font-family: "archia-regular";
    text-align: center;
    /* position: relative; */
    width: 65%;
    line-height: 160%;
    font-size: large;
    padding: 10% 0 10% 0;
}

main section:nth-of-type(5) h2 strong {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

main section:nth-of-type(5) h2 strong:nth-of-type(2) {
    font-size: 210%;
    font-weight: 300;
}


main section:nth-of-type(5) h2 strong:nth-of-type(2), main section:nth-of-type(5) h2 strong:nth-of-type(1) {
    width: max-content;
    margin: auto;
}

main section:nth-of-type(5) h2 {
    flex-direction: column;
    padding: 10% 0 0 0;
    font-family: "parking-regular";
}

section:nth-of-type(5) ul {
    padding: 15% 0 0 0;
}


main section:nth-of-type(5)img {
    display: flex;
}


main section:nth-of-type(5) a {
    background-color: var(--color-text-black);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 7%;

}

/* toegankelijkheid */
main section:nth-of-type(5) a:hover{
    translate: 0 .5em;
    transition: .3s 
    ease 0s,  .3s 
    ease 0s;
}
main section:nth-of-type(5) a:active{
    background-color: var(--backgroud-color-button-white);
    color: var(--color-text-black);
}

main section:nth-of-type(5)address a:hover{
    translate: 0 .5em;
    transition: .3s 
    ease 0s, .3s 
    ease 0s;
}

main section:nth-of-type(5) address a:active{
    background-color: var(--color-background-pink-purple);
    color: var(--color-white);
}


main section:nth-of-type(5) address a{
    background-color: var(--color-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--color-text-black);
    text-align: center;
    width: max-content;
    font-style: normal;
}


main section:nth-of-type(5) {
    background-image: var(--background-img-main);
}


main section:nth-of-type(5) img {
    width: 20em;
}

main section:nth-of-type(5) ul {
        display:flex;
        overflow:auto;
        scroll-snap-type:x mandatory;
        scroll-behavior:smooth;
        overscroll-behavior-x:contain;
        scrollbar-width:thin;
        scrollbar-color: var(--color-background-pink-purple) transparent;
        padding: 10% 2% 10%;
}
/* toegankelijkheid */
/* zorgt ervoor dat de gebruiker de motion uit kan zetten */
@media (prefers-reduced-motion: no-preference) {
    main section:nth-of-type(5) svg{
        animation-name: slideinleft2;
        animation-duration: 3s;
        animation-iteration-count:infinite;
    }
}



main section:nth-last-of-type(5) li{
    flex-basis:100%;
    flex-shrink:0;
    scroll-snap-align:center;
}
main section:nth-of-type(5) li{
    display:flex;
    align-items: flex-end;
}
main section:nth-of-type(5) ul::scroll-marker-group {
    height:3em;
    display: flex;
    justify-content:center;
    align-content:center;
    row-gap:.25em;
    column-gap:.5em;
  }
  







