/**************/
/* section 1*/
/**************/

main section:nth-of-type(1) img {
    width: 100%;
}

/* h1 */
section h1 {
    font-family: "chaney-wide";
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: black;
    color: var(--color-white);
    max-width: max-content;
    font-size: 1.4em;
    top: 11rem;
    margin: auto;
    font-family: "parking-regular";
}

section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
    color: var(--color-white);
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    top: 14rem;
    margin: auto;
    font-family: "parking-regular";
}

section h1 strong:nth-of-type(3) {
    position: absolute;
    background-color: #8004e1;
    color: var(--color-white);
    font-weight: lighter;
    font-size: medium;
    top: 17.2rem;
    margin: auto;
}

h1 strong {
    display: flex;
    flex-direction: column;
}

/* achtergrond */
main section:nth-of-type(1) {
    background-image: var(--background-img-main);
    height: 100dvh;
}

main section:nth-of-type(1) p {
    margin-top: 15%;
    color: var(--color-p);
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
    padding-bottom: 15%;
}

main p {
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 70%;
    font-size: large;
}

main section:nth-of-type(1)>img:last-of-type {
    width: 15%;
    display: block;
    margin: 6em auto 3em auto;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* toegankelijkheid */
/* zorgt ervoor dat de gebruiker de motion uit kan zetten */
@media (prefers-reduced-motion: no-preference){
    main section:nth-of-type(1)>img:last-of-type {
        width: 15%;
        display: block;
        margin: 6em auto 3em auto;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
      
}


/* animatie scroll icon */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }
}


main section:nth-of-type(1) a {
    background-color: var(--color-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--color-text-black);
    text-align: center;
    display: block;
    margin: auto;
    width: max-content;
}

main section:nth-of-type(1) a:hover {
    translate: 0 .5em;
}

main section:nth-of-type(1) a:active {
    background-color: var(--color-background-pink);
    color: var(--color-white);
    transition: color .3s ease 0s, background-color .3s ease 0s;
}


/* grootte van de verschillende foto's */

main section:nth-of-type(2) ul li:nth-of-type(1) img {
    width: 10em;
}

main section:nth-of-type(2) ul li:nth-of-type(2) img {
    width: 5em;
}

main section:nth-of-type(2) ul li:nth-of-type(3) img {
    width: 12em;

}

main section:nth-of-type(2) ul li:nth-of-type(4) img {
    width: 12em;

}

main section:nth-of-type(2) ul li:nth-of-type(5) img {
    width: 6em;

}


















/**************/
/* section 2*/
/**************/
main section:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0%;
    padding: 10% 0;
}

main section:nth-of-type(2) {
    background-color: var(--background-color-main2);
}

main section:nth-of-type(4) {
    background-color: var(--background-color-main2);
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10%;
}

main section:nth-of-type(2) h2 {
    color: #000000;
    font-family: "archia-regular";
    font-weight: 300;
    font-size: 103%;
    padding: 8% 0;
    display: flex;
    justify-content: center;
}



















/**************/
/* section 3*/
/**************/
main section:nth-of-type(3) li img {
    width: 100vw;
    height: auto;
}

main section:nth-of-type(3) {
    padding: 0%;
    margin: 0%;
    height: 64dvw;
}

main section:nth-of-type(3) button img {
    width: 9%;
}


main section:nth-of-type(3) ul {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-pink) transparent;
    padding: 0%;
}

main section:nth-of-type(3) li {
    width: 100%;
}
/* toegankelijkheid */
@media (prefers-reduced-motion: no-preference) {
    main section:nth-of-type(3) svg{
        animation-name: slideinleft2;
        animation-duration: 3s;
        animation-iteration-count:infinite;
    }
}

@keyframes slideinleft2 {
	from {
        transform: translateX(0);
	}

	to {
		transform: translateX(19em);
	}
}



















/**************/
/* section 4*/
/**************/
main section:nth-of-type(4) li {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}

main section:nth-of-type(4) p {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    width: 50%;
    margin: auto;
}

main section:nth-of-type(4) ul {
    padding: 0%;
}









/**************/
/* section 5*/
/**************/
main section:nth-of-type(5) {
    background-image: var(--background-img-main);
}
main section:nth-of-type(5) h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main section:nth-of-type(5) h2 strong:nth-of-type(1) {
    position: absolute;
    background-color: #8004e1;
    font-weight: lighter;
    max-width: max-content;
    font-size: medium;
    top: 159rem;
    margin: auto;
    font-family: "chaney-wide";
    color: var(--color-text-white);
}

main section:nth-of-type(5) h2 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
    max-width: max-content;
    font-size: 1.9em;
    bottom: -111.6rem;
    margin: auto;
    font-family: "parking-regular";
    color: var(--color-text-white);
}

main section:nth-of-type(5) p:first-of-type {
    width: 65%;
    padding: 40% 0 10% 0;
    margin: auto;
}

main section:nth-of-type(5) label,
main section:nth-of-type(5) input {
    display: flex;
    flex-direction: column;
}

/* toegankelijkheid */
main section:nth-of-type(5) input:focus {
    border-style: dashed;
    border-color: var(--color-background-pink);
    border-width: 0.3em;
}

main section:nth-of-type(5) input:valid {
    border-color: var(--color-valid);
}

main section:nth-of-type(5) input:invalid {
    border-color: var(--color-invalid);
}


main section:nth-of-type(5) ol {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main section:nth-of-type(5) input {
    background-color: var(--color-white);
    font-family: "archia-regular";
    color: var(--color-text-black);
    width: 85%;
    color: var(--color-text-black);
    padding: 3.5%;
    appearance: none;
    border-color: var(--color-black);
    caret-color: var(--caret-color);
    border-width: 0.2em;
    border-style: solid;
}

main section:nth-of-type(5) p img {
    width: 10%;
}

/* kleur van foto veranderd dark mode */
@media (prefers-color-scheme: dark) {
    main section:nth-of-type(5) p img {
        width: 10%;
        content: url(/images/hubspotlogodarkmode.png);
    }
}

main section:nth-of-type(5) p:last-of-type {
    width: 70%;
    padding: 10% 0 10% 0;
    margin: auto;
    font-size: medium;
}


main section:nth-of-type(5) label {
    font-family: "archia-regular";
}

main section:nth-of-type(5) li:nth-of-type(6) label {
    width: 80%;
}

main section:nth-of-type(5) button {
    background-color: var(--backgroud-color-button-black);
    padding: 3% 5%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}

main section:nth-of-type(5) button:active{
    background-color: var(--backgroud-color-button-white);
    color: var(--color-text-black);
}

main input {
    background-color: var(--color-text-white);
}

main li p {
    margin-left: 0;
}

main section:nth-of-type(5) form button {
    background-color: var(--color-text-black);
    margin-top: 0%;
    color: var(--color-text-white);
    text-align: center;
    width: max-content;
    font-family: "archia-regular";
    padding: 1em 2em 1em 2em;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
}