@font-face {
    font-family: "archia-bold";
    src: url(../fonts/archia-bold.otf);
}

@font-face {
    font-family: "archia-regular";
    src: url(../fonts/archia-regular.otf);
}

@font-face {
    font-family: "chaney-extended";
    src: url(../fonts/chaney-extended.otf);
}


@font-face {
    font-family: "chaney-wide";
    src: url(../fonts/chaney-wide.otf);
}

@font-face {
    font-family: "fa-brands";
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: "parking-regular";
    src: url(../fonts/parking-regular.otf);
}
section:nth-of-type(1) img{
    width: 100%;
}
/* h1 */
section h1 {
    font-family: "chaney-wide";
}
section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: black;
    text-align: center;
    max-width: max-content;
    font-size: 1.4em;
    top: 14rem;
    left:1rem;
    font-family: "parking-regular";
}
section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color:#8004e1;
font-weight: lighter;
    font-size: medium;
    top: 17.2rem;
  left:4rem;
}
section:nth-of-type(1) {
    background-image: linear-gradient(180deg, #ff96d7 0, #fdcbe5 20%, #fdcbe5 80%, #ff96d7 100%) !important;
    height: 45em;
}
section:nth-of-type(1) p{
    margin-top: 15%;
    color: #000000;
    display: flex;
    justify-content: center;
}
p {
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 70%;
    font-size: large;
}
section:nth-of-type(1) > img:last-of-type{
    width: 15%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 4em;
}
section:nth-of-type(1) a {
    background-color: white;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: black;
    text-align: center;
    margin-left: 1em;
}
section:nth-of-type(2) img{
    display: flex;
    flex-direction: column;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* section 2 */

section:nth-of-type(2) {
    background-color: #ffeaf5 !important;
}
section:nth-of-type(4) {
    background-color: #ffeaf5 !important;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10%;
}

section:nth-of-type(2) h2{
    color: #000000;
    font-family:"archia-regular" ;
    font-weight: 300;
    padding-bottom: 1em;
    font-size: 103%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
}