/**************/
/* Algemeen */
/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}












/**************/
/* section 1*/
/**************/

/* h1 */
section h1 {
    font-family: "chaney-wide";
}

section h1 strong:nth-of-type(1) {
    position: absolute;
    background-color: var(--color-background-purple);
    color: var(--color-white);
    max-width: max-content;
    font-size: medium;
    top: 11rem;
    left: 5rem;
}

section h1 strong:nth-of-type(2) {
    position: absolute;
    background-color: var(--background-color-black);
    color: var(--color-white);
    font-weight: lighter;
    font-size: larger;
    top: 12rem;
    font-family: "parking-regular";
    left: 5rem;
}

main section:nth-of-type(1) img {
    width: 90%;
    position: absolute;
    top: 14rem;
    left: 1rem;
}

main section:nth-of-type(1) p {
    margin-top: 35%;
    color: var(--color-text-black);
}

section video {
    width: 100%;
    height: auto;
}

/* section:nth-of-type(1) {
    
} */

main section:nth-of-type(1) div button img {
    width: 10%;
    position: absolute;
    top: 23%;
    background-color: var(--color-background-pink);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 12%;
    left: 88%;
    opacity: 0.8;
}

main section:nth-of-type(1) p {
    font-family: "archia-regular";
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 30%;
    line-height: 160%;
    font-size: large;
    color: var(--color-p);
}

main section:nth-of-type(1) {
    position: relative;
    background-image: var(--background-img-main);
}

main section h2 strong:nth-of-type(1) {
    background-color: var(--color-background-purple);
    color: var(--color-white);
    text-align: center;
}

main section>button:last-of-type {
    position: fixed;
    bottom: 1rem;
    right: 24em;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section>button:last-of-type ul:nth-of-type(1){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    translate: 100% 0;
    transition: 0.5s;
    gap: 1em;
    color: var(--color-text-black);
    padding-top: 30%;
    background-color: var(--color-background-pink);
}

/* main section:nth-last-of-type(4) img {
    animation-name: textslide;
} */
@keyframes textslide{
    0% {
        opacity: 0;
    }

    10% {
        opacity: .1;
    }

    20% {
        opacity: .2;
    }

    30% {
        opacity: .3;
    }

    40% {
        opacity: .4;
    }

    50% {
        opacity: .5;
    }

    60% {
        opacity: .6;
    }

    70% {
        opacity: .7;
    }

    80% {
        opacity: .8;
    }

    90% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}









/**************/
/* section 2*/
/**************/
main section:nth-of-type(2) a {
    background-color: var(--color-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-black);
    text-align: center;
    display: inline-block;
    order: 3;
    width: max-content;
    transition: color .3s 
    ease 0s, background-color .3s 
    ease 0s;
}

main section:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    gap: 4em;
  padding:0;
}

main section:nth-of-type(2) h3 {
    font-family: "parking-regular";
    font-size: 1.7em;
    color: var(--color-p);
    width: 80%;
    text-align: center;
    font-weight: 300;
    order: 2;
}

main section:nth-of-type(2) h3:hover {
    cursor: pointer;
}

main section h2 strong:nth-of-type(2) {
    background-color: var(--color-text-black);
    color: var(--color-white);
    font-size: xx-large;
    text-align: center;
}

main section:nth-of-type(2) {
    background-image: var(--background-img-main);
}

main section:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(2) img:last-of-type {
    overflow-x: hidden;
    animation-name: textslide;
    position: relative;
}
main section:nth-of-type(2) a:hover{
    background-color: var(--color-background-pink);
    color: var(--color-white);
    
}





















/**************/
/* section 3*/
/**************/
main section:nth-of-type(3)>a:last-of-type {
    background-color: var(--button-background);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    color: var(--button-color);
    margin-top: 3em;
    text-decoration: none;
    font-family: "chaney-wide";
}
main section:nth-of-type(3)>a:last-of-type:hover{
    background-color: var(--color-background-pink);
    translate: 0 .5em;
    color: var(--color-white);
    transition: color .3s 
    ease 0s, background-color .3s 
    ease 0s;
}

main section:nth-of-type(3) a {
    text-decoration: underline;
    font-family: "archia-regular";
}

main section:nth-of-type(3) {
    padding-bottom: 10%;
    width: 80%;
    margin: auto;
}

main section:nth-of-type(3) h2 {
    font-family: "parking-regular";
    font-weight: 300;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 250%;
}

main section:nth-of-type(3) p {
    font-family: "archia-regular";
    margin-bottom: 15%;
    text-align: start;
    position: relative;
    line-height: 160%;
    font-size: large;
}

main section:nth-of-type(3) img {
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    /* flex-grow: 1;
    flex-direction: column;
    scroll-snap-align: center; */
}














/**************/
/* section 4*/
/**************/

main section:nth-of-type(4) {
    background-color: var(--background-color-main2);
    /* display: flex;
    flex-direction: column-reverse; */
    padding-top: 10%;

}

main section:nth-of-type(4) ul {
    padding-left: 0%;
}

main section:nth-of-type(4) li {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
}

main section:nth-of-type(4) p {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}


























/**************/
/* section 5*/
/**************/
main section:nth-of-type(5) a {
    display: block;
    margin: auto;
    gap: 5%;
}


main section:nth-of-type(5) a {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 20%;
}

/* section:nth-of-type(1) img:last-child{
    position: fixed;
bottom: 1rem;
} */

main section:nth-of-type(5) {
    /* display:flex;
    justify-content: center; */
    text-align: center;
    height: 110%;
}

main section:nth-of-type(5) p {
    width: 50%;
    margin: auto;
    color: var(--color-p);
    font-family: "archia-regular";
    text-align: center;
    position: relative;
    width: 65%;
    line-height: 160%;
    font-size: large;
    padding-bottom: 10%;
    padding-top: 10%;
}

main section:nth-of-type(5) h2 strong {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

main section:nth-of-type(5) h2 strong:nth-of-type(2) {
    font-size: 210%;
    width: max-content;
    font-weight: 300;
    margin: auto;
}

main section:nth-of-type(5) h2 strong:nth-of-type(1) {

    width: max-content;
    margin: auto;
}


main section:nth-of-type(5) h2 {
    flex-direction: column;
    padding-top: 10%;
    font-family: "parking-regular";
}

section:nth-of-type(5) ul {
    padding-top: 15%;
}


main section:nth-of-type(5)img {
    display: flex;
}


main section:nth-of-type(5) a:first-of-type {
    background-color: var(--color-text-black);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 7%;
}

main section:nth-of-type(5) a:last-of-type {
    background-color: var(--color-white);
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: var(--color-text-black);
    text-align: center;
    width: max-content;
}

main section:nth-of-type(5) {
    background-image: var(--background-img-main);
}


main section:nth-of-type(5) img {
    width: 20em;
}

main section:nth-of-type(5) ul {

        display:flex;
        overflow:auto;
        scroll-snap-type:x mandatory;
        scroll-behavior:smooth;
        overscroll-behavior-x:contain;
        gap:1em;
        scrollbar-width:thin;
        scrollbar-color: var(--color-background-pink) transparent;
}

main section:nth-last-of-type(5) li{
    flex-basis:100%;
    flex-shrink:0;
    scroll-snap-align:center;
}
main section:nth-of-type(5) li{
    display:flex;
    align-items: flex-end;
}
main section:nth-of-type(5) ul::scroll-marker-group {
    height:3em;
    margin:1em 3.5em 0;
    display: flex;
    justify-content:center;
    align-content:center;
    row-gap:.25em;
    column-gap:.5em;
  }
  






/* main{
    display: flex;
    flex-direction: column;
    gap: 5em;
} */













main a:hover {
    translate: 0 .5em;
    background-color: var(--color-background-pink);
}




/* section:nth-of-type(1) p {
gap: 4%;
} */

/* section{
    gap: 10%;
} */
main ul li img {
    width: 65%;
    display: flex;
    justify-content: center;
    order: 1;
    transition:.3s 
    ease 0s, .3s 
    ease 0s;
    /* margin-bottom: 30%; */
}

main ul li img:hover {
    cursor: pointer;
transform:scale(1.1);
}



/* section:nth-of-type(1) button svg{
    position: relative;
    position: absolute;
    left: -15%;
} */

/* section h2 strong:nth-of-type(2) {
    position: absolute;
    background-color: black;
font-weight: lighter;
    font-size: larger;
    top: 12rem;
    font-family: "parking-regular";
  left:5rem;
} */
/* footer */


/* 
section:nth-of-type(3) p {
    font-family: "archia-regular";
}

section:nth-of-type(2) p {
    font-family: "archia-regular";
}

section:nth-of-type(6) p {
    font-family: "archia-regular";
} */

/* @media(max-width:20em){} */
/* section:nth-of-type(1) > button:first-of-type {} */
/* 
section a:nth-of-type(1) {
    background-color: black;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: white;
    text-align: center;
} */

/* section:nth-of-type(2)a {
    background-color: white;
    border-radius: 20em;
    padding: 1em 2em 1em 2em;
    margin-top: 0%;
    color: black;
    text-align: center;
} */

/* section:nth-of-type(3) a{
    text-decoration: underline;
} */



/* section 4 */




/* toevoegen dat de video uit gaat als iemand weinig motion wil in hun instellingen */